@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
}

/* @media screen and (max-width: 576px) {
    .col-md-4 {
        align-content: center;

        text-align: center;
    }
} */